.cardWidget img{
    width: 70%;   
    height: 40px; 
    }
@media only screen and (max-width:  992px) {
    .cardWidget img{
        width: 3%;   
        height: 30px; 
    }
    .cardWidget {
        font-size: 10px;   
       
    }
}
   